body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  max-width: 320px;
}
@media screen and (min-width: 700px) {
  body,
  html {
    max-width: 700px;
  }
}
a {
  color: #ffffff;
  text-decoration: none;
}
.gradient::after {
  content: '';
  width: 105%;
  display: block;
  background: #f2f2f2;
  -webkit-transform: rotate(-6deg) translate(-15px, 130px);
      -ms-transform: rotate(-6deg) translate(-15px, 130px);
          transform: rotate(-6deg) translate(-15px, 130px);
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  z-index: 1;
}
@media screen and (min-width: 700px) {
  .gradient::after {
    height: 80px;
    -webkit-transform: rotate(-5deg) translate(-15px, 160px);
        -ms-transform: rotate(-5deg) translate(-15px, 160px);
            transform: rotate(-5deg) translate(-15px, 160px);
  }
}
/*colors*/
/*width*/
/*Font*/
.main_page_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 320px;
}
@media screen and (min-width: 700px) {
  .main_page_header {
    max-width: 700px;
  }
}
.main_page_header__menu_container {
  padding: 6.25%;
  background: rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 700px) {
  .main_page_header__menu_container {
    padding: 4.28571429%;
  }
}
.main_page_header__menu_container--menu_open {
  background: #233343;
  border-bottom: 1px solid #000000;
}
.main_page_header__logo {
  width: 75px;
  height: 25px;
  display: inline-block;
  background: url("../../img/pink-logo-1.png") 0 0 no-repeat;
}
@media screen and (min-width: 700px) {
  .main_page_header__logo {
    width: 175px;
    height: 40px;
    background: url("../../img/glasses-simple@1x.png") 0 0 no-repeat, url("../../img/pink-logo-1.png") 75px bottom no-repeat;
  }
}
.main_page_header__main_menu_button {
  width: 50px;
  height: 25px;
  display: inline-block;
  float: right;
  background: url("../../img/menu-burger.svg") 0 0 no-repeat;
}
.main_page_header__main_menu_button--close {
  background: url("../../img/menu-cross.svg") 0 0 no-repeat;
}
.main_page_header__main_menu_button--hidden {
  display: none;
}
.application {
  padding-top: 25%;
  background: url("../../img/iphone-hand-1.png") 0 200px no-repeat, url("../../img/background-1@1x.jpg") -200px 0 no-repeat;
}
@media screen and (min-width: 700px) {
  .application {
    background: url("../../img/iphone-hand-2@1x.png") 0 180px no-repeat, url("../../img/background-2@1x.jpg") -250px 0 no-repeat;
  }
}
.application__button {
  display: block;
  padding: 4.6875% 12.5%;
  text-align: center;
  font-size: 18px;
  border: 3px solid #ffffff;
  border-radius: 30px;
}
@media screen and (min-width: 700px) {
  .application__button {
    padding: 3.57142857%;
  }
}
.application__slogan {
  padding: 0px 9.375%;
  margin-top: 7.8125%;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 700px) {
  .application__slogan {
    font-size: 40px;
    width: 32.85714286%;
    margin-top: 0%;
  }
}
.application__download_block {
  margin-top: 310px;
  background: #151d25;
  padding: 9.375% 6.25%;
  color: #ffffff;
}
@media screen and (min-width: 700px) {
  .application__download_block {
    font-size: 18px;
    width: 42.85714286%;
    margin-top: 0%;
    background: none;
  }
}
.application__platform_selector {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 6.25% 0px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.application__link {
  font-size: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.application__link--apple {
  background-image: url("../../img/apple-logo.svg");
}
.application__link--android {
  background-image: url("../../img/android-logo.svg");
}
.application__link--win {
  background-image: url("../../img/microsoft-logo.svg");
}
.application__desc {
  font-weight: 300;
  text-align: center;
}
.features {
  background-color: #f2f2f2;
  overflow: hidden;
}
.features__slogan {
  padding: 7.8125%;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background: #ffffff;
  position: relative;
}
@media screen and (min-width: 700px) {
  .features__slogan {
    font-size: 40px;
    padding: 7.14285714%;
    padding-bottom: 0px;
  }
}
.features__slogan--short {
  padding-bottom: 18.75%;
}
@media screen and (min-width: 700px) {
  .features__slogan--short {
    padding: 0 21.42857143%;
    padding-bottom: 14.28571429%;
  }
}
.features__block {
  position: relative;
}
@media screen and (min-width: 700px) {
  .features__block {
    padding: 3.57142857%;
    padding-bottom: 0;
    width: 320px;
    float: right;
    text-align: left;
  }
}
.features .feature {
  position: relative;
  padding: 7.8125%;
  text-align: center;
}
.features .feature__title {
  font-size: 18px;
  font-weight: 700;
}
.features .feature__desc {
  line-height: 24px;
  font-weight: 300;
}
@media screen and (min-width: 700px) {
  .features .feature {
    padding: 3.57142857%;
    text-align: left;
  }
}
.features__promo_img {
  position: relative;
  margin-left: 20px;
  background: none;
  z-index: 2;
}
.review {
  padding: 4.6875%;
}
.review__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 9.375%;
  text-align: center;
}
.review__text {
  color: #283645;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.slider_frame__switch {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  list-style: none;
}
.slider_frame__switch_item {
  margin: 0 10px;
}
.slider_frame__switch_button {
  display: block;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.slider_frame__switch_button--active {
  border: 3px solid #000000;
  background: #ffffff;
}
.contacts {
  padding: 6.25%;
}
.contacts__slogan {
  color: #283645;
  font-size: 24px;
  text-align: center;
}
.contact__title {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}
.contact__addr {
  color: #d22856;
  font-size: 24px;
  text-align: center;
}
.main_menu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
}
.main_menu__item {
  text-align: center;
  background: #233343;
}
.main_menu__link {
  display: block;
  padding: 6.25%;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #455261;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.main_menu--hidden {
  display: none;
}
.ads {
  display: none;
}
@media screen and (min-width: 700px) {
  .ads {
    display: block;
  }
}
