body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
a {
  color: #ffffff;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.layout_center_wrapper {
  margin: 0 auto;
  width: 320px;
}
@media screen and (min-width: 700px) {
  .layout_center_wrapper {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .layout_center_wrapper {
    width: 1200px;
  }
}
/*colors*/
/*width*/
/*Font*/
.main_page_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}
.main_page_header__menu_container {
  padding: 6.25%;
}
@media screen and (min-width: 700px) {
  .main_page_header__menu_container {
    padding: 4.28571429%;
  }
}
@media screen and (min-width: 1200px) {
  .main_page_header__menu_container {
    padding: 2.5%;
  }
}
.main_page_header__menu_container--menu_open {
  background: #233343;
  border-bottom: 1px solid #000000;
}
.main_page_header__logo {
  width: 75px;
  height: 25px;
  display: inline-block;
  background: url("../../img/pink-logo-1.png") 0 0 no-repeat;
}
@media screen and (min-width: 700px) {
  .main_page_header__logo {
    width: 175px;
    height: 40px;
    background: url("../../img/Pink-logo-2@1x.png") 0 0 no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .main_page_header__logo {
    background: url("../../img/Pink-logo-3@1x.png") 0 0 no-repeat;
  }
}
.main_page_header__main_menu_button {
  width: 50px;
  height: 25px;
  display: inline-block;
  float: right;
  background: url("../../img/menu-burger.svg") 0 0 no-repeat;
}
@media screen and (min-width: 1200px) {
  .main_page_header__main_menu_button {
    display: none;
  }
}
.main_page_header__main_menu_button--close {
  background: url("../../img/menu-cross.svg") 0 0 no-repeat;
}
@media screen and (min-width: 1200px) {
  .main_page_header__main_menu_button--close {
    display: none;
  }
}
.main_page_header__main_menu_button--hidden {
  display: none;
}
.application {
  padding-top: 100px;
  background: url("../../img/iphone-hand-1.png") 50% 44% no-repeat, url("../../img/background-1@1x.jpg") 50% 0 no-repeat;
  background-color: #151d25;
}
@media screen and (min-width: 700px) {
  .application {
    padding-top: 230px;
    background: url("../../img/iphone-hand-2@1x.png") 50% 100% no-repeat, url("../../img/background-2@1x.jpg") 50% 0 no-repeat;
  }
}
@media screen and (min-width: 1200px) {
  .application {
    padding: 0;
    padding-top: 280px;
    background: url("../../img/iphone-hand-3@1x.png") 60% 100% no-repeat, url("../../img/background-3@1x.jpg") 50% 100% no-repeat;
  }
}
.application__button {
  display: block;
  padding: 15px 40px;
  text-align: center;
  font-size: 18px;
  border: 3px solid #ffffff;
  border-radius: 30px;
}
@media screen and (min-width: 700px) {
  .application__button {
    padding: 3.57142857%;
  }
}
@media screen and (min-width: 1200px) {
  .application__button {
    padding: 3.33333333%;
    font-size: 21px;
    font-weight: 700;
  }
}
.application__slogan {
  padding: 0px 9.375%;
  margin-top: 7.8125%;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  background: transparent;
}
@media screen and (min-width: 700px) {
  .application__slogan {
    font-size: 40px;
    width: 32.85714286%;
    margin-top: 0%;
  }
}
@media screen and (min-width: 1200px) {
  .application__slogan {
    font-size: 40px;
    width: 19.16666667%;
    padding: 0% 13.33333333%;
  }
}
.application__download_block {
  margin-top: 300px;
  background: #151d25;
  padding: 30px 20px;
  color: #ffffff;
}
@media screen and (min-width: 700px) {
  .application__download_block {
    font-size: 18px;
    width: 42.85714286%;
    margin-top: 0%;
    background: none;
  }
}
@media screen and (min-width: 1200px) {
  .application__download_block {
    width: 25%;
    padding: 2.5% 10.83333333%;
    padding-bottom: 10.83333333%;
  }
}
.application__platform_selector {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 6.25% 0px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .application__platform_selector {
    padding: 8.33333333%;
  }
}
.application__link {
  font-size: 0;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.application__link--apple {
  background-image: url("../../img/apple-logo.svg");
}
.application__link--android {
  background-image: url("../../img/android-logo.svg");
}
.application__link--win {
  background-image: url("../../img/microsoft-logo.svg");
}
.application__desc {
  font-weight: 300;
  text-align: center;
}
.features {
  overflow: hidden;
}
.features__slogan {
  padding: 7.8125%;
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background: #ffffff;
  position: relative;
}
@media screen and (min-width: 700px) {
  .features__slogan {
    font-size: 40px;
    padding: 7.14285714%;
    padding-bottom: 0px;
  }
}
.features__slogan--short {
  padding-bottom: 18.75%;
}
@media screen and (min-width: 700px) {
  .features__slogan--short {
    padding: 0 21.42857143%;
    padding-bottom: 14.28571429%;
  }
}
@media screen and (min-width: 1200px) {
  .features__slogan--short {
    padding-bottom: 8.33333333%;
  }
}
.features__block {
  position: relative;
}
@media screen and (min-width: 700px) {
  .features__block {
    padding: 3.57142857%;
    padding-bottom: 0;
    width: 320px;
    float: right;
  }
}
@media screen and (min-width: 1200px) {
  .features__block {
    width: 100%;
    padding: 0;
    float: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-content: space-between;
        -ms-flex-line-pack: justify;
            align-content: space-between;
  }
}
.features__demo {
  background-color: #f2f2f2;
}
.features .feature {
  position: relative;
  padding: 7.8125%;
  text-align: center;
}
.features .feature__title {
  font-size: 18px;
  font-weight: 700;
}
.features .feature__desc {
  line-height: 24px;
  font-weight: 300;
}
@media screen and (min-width: 700px) {
  .features .feature {
    padding: 3.57142857%;
    text-align: left;
  }
}
.features__promo_img {
  position: relative;
  margin-left: 20px;
  background: none;
  z-index: 2;
}
.review {
  padding: 4.6875%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 30px;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (min-width: 700px) {
  .review {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.review__name {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  .review__name {
    font-size: 20px;
    margin-bottom: 0;
  }
}
.review__text {
  color: #283645;
  font-weight: 400;
}
@media screen and (min-width: 700px) {
  .review__text {
    font-size: 18px;
  }
}
.review__profession {
  display: none;
}
@media screen and (min-width: 700px) {
  .review__profession {
    display: block;
    margin: 0;
    color: #283645;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
}
.slider_frame__switch {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  list-style: none;
}
.slider_frame__switch_item {
  margin: 0 10px;
}
.slider_frame__switch_button {
  display: block;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: 3px solid #ffffff;
}
.slider_frame__switch_button--active {
  border: 3px solid #000000;
  background: #ffffff;
}
@media screen and (min-width: 700px) {
  .slider_frame__switch--price {
    display: none;
  }
}
.contacts {
  position: relative;
}
.contacts__slogan {
  color: #283645;
  font-size: 24px;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .contacts__slogan {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 700px) {
  .contacts::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 0px;
    height: 0px;
    border: 350px solid transparent;
    border-top: 100px solid #ffffff;
    z-index: 1;
  }
}
.contact {
  padding: 0 6.25%;
}
@media screen and (min-width: 700px) {
  .contact {
    font-weight: 300;
  }
  .contact:nth-child(2) {
    position: absolute;
    left: 50px;
  }
  .contact:nth-child(3) {
    position: absolute;
    right: 50px;
  }
  .contact:nth-child(4) {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 20px;
    width: 270px;
  }
}
.contact__title {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0;
}
.contact__addr {
  color: #d22856;
  font-size: 24px;
  text-align: center;
}
.main_menu {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
}
@media screen and (min-width: 700px) {
  .main_menu {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .main_menu {
    width: 1200px;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: -60px;
  }
}
.main_menu__item {
  text-align: center;
  background: #233343;
}
@media screen and (min-width: 1200px) {
  .main_menu__item {
    background: none;
  }
}
.main_menu__link {
  display: block;
  padding: 6.25%;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #455261;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .main_menu__link {
    padding: 0 50px;
    font-weight: 400;
    text-transform: none;
    border: none;
  }
}
@media screen and (max-width: 1200px) {
  .main_menu--hidden {
    display: none;
  }
}
.ads {
  display: none;
  padding: 30px;
}
@media screen and (min-width: 700px) {
  .ads {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.ads__time_img {
  margin-right: 10px;
}
.ads__article {
  width: 300px;
  padding: 50px 20px;
  text-align: left;
}
.ads__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  width: 200px;
}
.ads__text {
  color: #283645;
  font-weight: 400;
  line-height: 24px;
  width: 300px;
}
.ads__link {
  display: block;
  margin-top: 10px;
  color: #d22856;
  text-decoration: underline;
}
.main_page_footer {
  position: relative;
  z-index: 10;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.main_page_footer__logo {
  color: black
  /*display: inline-block;
        height: 40px;
        width: 145px;*/
}
@media screen and (max-width: 320px - 1) {
  .main_page_footer {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */