body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: @base_size;
    max-width: @mobile_width;
    
    @media screen and (min-width: 330px) {
       max-width: @tablet_width;
    }
    
}
a {
    color: @white;
    text-decoration: none;
}

.gradient {
            
            margin-bottom: -40px;
            height: 40px;
            width: 105%;
            display: block;
            background: @gray;
            transform: rotate(-6deg) translate(0px, -20px);
        }

