.contacts {
    position: relative;
    overflow: hidden;
    
    &__slogan{
        color: @blue;
        font-size: @very_big_size;
        text-align: center;
        font-weight: 300;
        
        @media screen and (min-width: @tablet_width) {
            font-size: @gigant;    
            margin-bottom: 20px;
        }
        
        @media screen and (min-width: @pc_width) {
            font-size: @gigant + 10px;    
            margin-bottom: 20px;
        }
    }
    
    @media screen and (min-width: @mobile_width) {        
        &::after {
            content: "";
            position: absolute;
            left: 0;  
            bottom: 33px;
            width: 0px;
            height: 0px;
            border: 160px solid transparent;	
            border-top: 50px solid @white;
            z-index: 1;
        }
    }
    @media screen and (min-width: @tablet_width) {        
        &::after {
            bottom: -60px;
            border: 350px solid transparent;	
            border-top: 100px solid @white;
        }
    }
    @media screen and (min-width: @pc_width) {        
        &::after {
            bottom: -335px;
            border: 600px solid transparent;	
            border-top: 123px solid @white;
        }
    }
    
    &__map {
        margin-top: 20px;
        
    }
    
        
}


.contact {
    
    padding:0 (20px/@mobile_width)*100%;
    
    @media screen and (min-width: @tablet_width) {    
        &:nth-child(2){
            position: absolute;
            left: 50px;
        }
        &:nth-child(3){
            position: absolute;
            right: 50px;
        }
        &:nth-child(4){    
            margin: 0 auto;
            margin-top: 150px;
            margin-bottom: 20px;
            width: 270px;
        }
        
        font-weight: 300;
    }
    
    @media screen and (min-width: @pc_width) {    
        &:nth-child(4){    
            
            margin: 0 auto;
            margin-top: 38px;
            margin-bottom: 20px;
            width: 270px;
        }
    }
        
        
    &__title {
        color: @blue;
        font-size: @big_size;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
    } 
    
    &__addr{
        color: @pink;
        font-size: @very_big_size;
        text-align: center;
        
        &--email {
            &:hover {
                color: @blue;
                text-decoration: underline;
            }
            &:active {
                color: @gray;
                text-decoration: none;
            }
        }
    }
}