.contacts {
    padding: 20px;
    
    &__slogan{
        color: @blue;
        font-size: @very_big_size;
text-align: center;
    }
    
}

.contact {
    &__title {
        color: @blue;
        font-size: @big_size;
        font-weight: 700;
        text-align: center;
        margin -bottom: 0;
    } 
    
    &__addr{
        color: @pink;
        font-size: @very_big_size;
        text-align: center;
    }
 }