.main_page_footer {
    @media screen and (max-width: @mobile_width - 1) {
            //display: none;
    }
    position: relative;
    z-index: 10;
    
    padding: 20px;
    //background: green;
    display: flex;
    
   &__logo{
        color: black;
        /*display: inline-block;
        height: 40px;
        width: 145px;*/
        //background: url("@{img_url}/Pink-logo-footer-2@1x.png") 0 0 no-repeat;
    }
}