.main_page_header {
    position: absolute;
    top:0;
    left:0;
    right: 0;
    background: fadeout(@black, 60%);
    &__menu_container {
        padding: (20px/@mobile_width)*100%;
        //background: fadeout(@black, 60%);
        
        @media screen and (min-width: @tablet_width) {
               padding: (30px/@tablet_width)*100%;
        }
        
        @media screen and (min-width: @pc_width) {
               padding: (30px/@pc_width)*100%;
        }
        
    }
    &__menu_container--menu_open {
        background: @blue_menu;
        border-bottom:1px solid @black;
    }
    &__logo {
        width: 75px;
        height: 25px;
        display: inline-block;
        background: url("@{img_url}/pink-logo-1.png") 0 0 no-repeat;
        
        @media screen and (min-width:@tablet_width) {
            width: 175px;
            height: 40px;
            background: url("@{img_url}/Pink-logo-2@1x.png") 0 0 no-repeat;     
        }
        
        @media screen and (min-width: @pc_width) {
              background: url("@{img_url}/Pink-logo-3@1x.png") 0 0 no-repeat;
        }
    }
    &__main_menu_button {
        width: 50px;
        height: 25px;
        display: inline-block;
        float: right;
        background: url("@{img_url}/menu-burger.svg") 0 0 no-repeat;
        
        @media screen and (min-width: @pc_width) {
               display: none;
        }
    }
    &__main_menu_button--close {
        background: url("@{img_url}/menu-cross.svg") 0 0 no-repeat;
        @media screen and (min-width: @pc_width) {
               display: none;
        }
    }
    &__main_menu_button--hidden {
        display: none;
    }
  
}