.slider_frame {
    position: relative;   
    overflow-x: hidden;
    
    &--additional_padding {
        padding-top: 200px;
    }
    
    &__body {
        position: relative;
    } 
    &__switch {
        display: flex;
        justify-content: center;
        align-content: center;
        list-style: none;
        &_item {
            margin: 0 10px;
        }
        &_button {
            display: block;
            width: 6px;
            height: 6px;
            background: fadeout(@black, 70%);
            border-radius: 50%;
            border: 3px solid@white;

        &--active {
             border: 3px solid@black;
             background: @white;

            }
        }
        &--price {
            @media screen and (min-width: @tablet_width) {
                display: none;
            }
        }
        
        &--review {
            @media screen and (min-width: @pc_width) {
                display: none;
            }
        }
    }
    
    &__arrow {
        display: block;
        position: absolute;
        top: 40%;
        width: 30px;
        height: 30px;
        border: 2px solid #bec2c6;
        border-bottom: none;
        border-right: none;
        font-size: 0;
        transform: rotate(-45deg);
        
        
        
        @media screen and (max-width: @pc_width) {
            display: none;
        }
        
        &--left{            
            left: 100px;
        }
        
        &--right{            
            right: 100px;
            transform: rotate(135deg);
        }
    }
}